# Ignore node_modules folder
backend/node_modules/*

front/*

# Ignore npm debug log
npm-debug.log

# Ignore environment variables file
.env

# Ignore OS-specific files
.DS_Store

testing 


kpmpp_documentation
